[Desktop Entry]
Name = Pomodoro-Indicator
GenericName = Pomodoro-Indicator
Comment = An indicator for working with Pomodoro Technique
Exec = /opt/extras.ubuntu.com/pomodoro-indicator/bin/pomodoro-indicator
Icon = pomodoro-indicator
Type = Application
Terminal = false
StartupNotify = true
Encoding = UTF-8
Categories = Utility;
X-Ubuntu-Gettext-Domain = pomodoro-indicator
Name[es] = Pomdoro-Indicator
GenericName[es] = Pomdoro-Indicator
Comment[es] = Un indicador para la Técnica Pomodoro
