[Desktop Entry]
Type=Application
Exec = /usr/bin/pomodoro-indicator
Icon = pomodoro-indicator
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=touchpad-indicator-autostart
Comment=Pomodoro-Indicator autostar
