[Desktop Entry]
Type=Application
Exec=/usr/bin/pomodoro-indicator
Icon=pomodoro-indicator
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=pomodoro-indicator-autostart
Comment=Pomodoro-Indicator autostart
